<html>
  <body>
    <h1>Check the params!</h1>
    <p>The params may be invalid.</p>
    <p> You should provide strings in params</p>
    <p> Such as: <strong>"GET /string_similarity?string_a=foo&string_b=bar"</strong> </p>
  </body>
</html>
