<h2>String Similarity Algorithms Comparator</h2>

<p><strong>Description</strong></p>
<p>Return a json aggregating different algorithms to compare strings.</p>
<p>This can help compare results from different algorithms and better choose the most appropriate depending of the objective.
</p>
<ul>
  <li>Cosine</li>
  <li>Levenshtein</li>
  <li>Levenshtein distance</li>
  <li>Trigram</li>
  <li>Jaro Winkler</li>
  <li>Jaro</li>
  <li>Hamming</li>
</ul>

<p><strong>Guidelines</strong></p>
<p> You should provide strings in params</p>
<p> Such as: "GET /string_similarity?string_a=foo&string_b=bar"</p>
